language: rust
sudo: false

# run builds for both all the trains
rust:
  - nightly

script:
  - |
      cargo build &&
      cd examples &&
      cargo build &&
      cargo test

notifications:
  email:
    on_success: never
